*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
button{
    width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: lightblue;
    color: #000;
}
h1{
    font-size: 3em;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}
a:hover{
    width: 50px;
    font-weight: bolder;
    border-bottom: 5px solid red;
}
ul > li{
    list-style: none;
    border-bottom: 2px solid black;
    margin: 10px;
    padding: 10px 0px;
    font-weight: bolder;
}
img{
    width: 50%;
    height: 500px;
}
/* Main Container Css Stats */
.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .main-container::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/home-wallpaper.jpg");
    background-size: cover;
    opacity: 0.6;
    z-index: -1; 
  }

.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    
}
#ramp-it{
    font-size: 2em;
}
.content-container{
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Main Container Css Ends */
/* Welcome Container Css Starts */

.welcome-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.center-container, .image-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-content-container{
    width: 70%;
    margin-left: calc(100% - 75%);
}
.image-container{
    align-items: center;
}
/* Welcome Container Css Ends */